<%= link_to '<i class="fas fa-arrow-left"></i> Back'.html_safe, restaurants_path %>
<div class="container new-resto">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card p-3" >
        <h1>New Restaurant</h1>
          <%= render 'form', restaurant: @restaurant, class: "btn-flat" %>
      </div>
    </div>
  </div>
</div>

